/* HomeLeftSideBar */

.text_muted {
  color: gray;
}

.reduced-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.post-actions .col-2:hover {
  background-color: rgb(236, 233, 233);
  cursor: pointer;
}

.skeleton-profile-pic {
  background-color: lightgray;
  margin: 0.5rem 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.skeleton-name {
  background-color: lightgray;
  margin: 0.25rem 0;
  height: 10px;
}

.skeleton-bio {
  background-color: lightgray;
  margin: 0.255rem 0;
  height: 10px;
}

.skeleton-text {
  background-color: lightgray;
  margin: 0.25rem 0;
  height: 10px;
}

.skeleton-action {
  background-color: lightgray;
  margin: 0.25rem 0;
  height: 10px;
}

.sidebar-image {
  width: 55px;
  border-radius: 50%;
  padding-top: 10px;
}
.text-secondary {
  font-size: 12px;
}
.saved {
  margin-top: 5px;
  margin-left: 13px;
}
.num_prof {
  position: absolute;
  left: 80%;
  top: 51%;
  color: blue;
}
.num_post {
  position: absolute;
  left: 80%;
  top: 61%;
  color: blue;
}
