/* PROFILE JUMBOTRON */

.profile-jumbo {
  background: rgb(98, 150, 198);
  background: linear-gradient(
    83deg,
    rgba(98, 150, 198, 1) 0%,
    rgba(87, 137, 184, 1) 39%,
    #b2c6d8 73%
  );
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  min-height: 150px;
  max-height: 150px;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.myDetails {
  background-color: #fff;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-top: -55px;
}

.details-row {
  padding-top: 5rem;
}

.bi-camera-fill {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: var(--primary-blue);
}

.bi-pencil {
  margin-top: -40px;
}

.bi-pencil:hover {
  background-color: #ecebeb;
  cursor: pointer;
  height: 40px;
  border-radius: 50%;
}

.text-link {
  color: var(--primary-blue);
  font-weight: 500;
}

.text-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* PROFILE DASHBOARD */

.dashboard {
  margin-top: 250px;
  background-color: #d1dfeb;
  font-weight: 400;
}

.list-group-item {
  width: 33.333%;
}

.dashboard-number {
  color: var(--primary-blue);
  font-size: 2rem;
  font-weight: 300;
  border-radius: 0.5rem;
}

.dashboard-heading {
  font-weight: 400;
}

/* EXPERIENCE */

.bi-plus {
  font-size: 2.25rem;
  line-height: 40px;
}

.bi-plus:hover {
  background-color: #ecebeb;
  cursor: pointer;
  height: 40px;
  border-radius: 50%;
}

/* SIDEBAR WRAPPER */

.sidebar-wrapper {
  background-color: #fff;
  border: solid 1px lightgray;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.sidebar-wrapper a:hover {
  color: #838383;
}

.sidebar-profile-images {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.sidebar-Home-images {
  height: 50px;
  width: 50px;
}
.sidebar-Home2-images {
  height: 85px;
  width: 85px;
  border-radius: 50%;
}
.sidebar-Home3-images {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.sidebar-Home4-images {
  height: 150px;
  width: 150px;
  object-fit: fill;
}

.card.profile-cards {
  border: none;
}

/* PROFILE SECTIONS */

.profile-sub-section {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.card-profile-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modalImage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.rside {
  margin: 0;
  padding: 0;
}
